.loginScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btnVoltarLogin {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: #fdfdfd;
    font-size: 30px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    transition: .4s;
    padding: 0;
}

.btnVoltarLogin:hover {
    background-color: #ffffff40;
}

.loginContainer {
    height: 400px;
    width: 350px;
    border: 2px solid #cc39a4;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fdfdfd;
}

.loginContainer > h1 {
    font-size: 40px;
    text-align: center;
    color: #fdfdfd;
}

.loginContainer > hr {
    border-color: #fdfdfd;
    margin: 20px;
    width: 100%;
}

.loginContainer > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.loginInputBox {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInputBox > input {
    background-color: transparent;
    border: none;
    border: 1px solid #fdfdfd;
    outline: none;
    transition: .4s;
    width: 250px;
    padding: 5px;
    margin-top: 4px;
    color: #fdfdfd;
}

.loginInputBox > label {
    position: relative;
}

.submitLogin {
    padding: 10px;
    width: 250px;
    background-color: #1e1e1e;
    border: none;
    color: #fdfdfd;
    font-weight: bolder;
    margin-bottom: 30px;
}

.linkCriarConta {
    color: rgb(184, 184, 255);
}

@media (max-width: 475px) {
    .loginContainer {
        scale: .8;
    }
}